[submodule "emms"]
	path = emms
	url = git://git.sv.gnu.org/emms.git
[submodule "rosemacs"]
	path = rosemacs
	url = https://kforge.ros.org/rosemacs/git
[submodule "slime"]
	path = slime
	url = https://github.com/antifuchs/slime.git
